body {
  background-color: rgb(2, 13, 14);
  background-image:url(backgroundpicture.jpeg);
  background-repeat:repeat;

}
h4 {
  color:blanchedalmond;
  font-family:'Dancing Script', cursive;
  margin:0;
  padding:0;
  
}
h3 {
  color:bisque;
  font-family:'Abril Fatface', cursive;
}
h1 {
  color: rgb(239, 239, 243);
  font-family:'Delicious Handrawn', cursive;
  font-size: 72px;
  margin:0;
  padding:0;
}
p {
  color: rgb(255, 255, 255);
}
ul {
    color: rgb(255, 255, 255);
  }
  p {
    color: rgb(255, 255, 255);
  }
  ul {
      color: rgb(255, 255, 255);
    }